body {
  font-family: Arial, sans-serif;
}

.calculator {
  max-width: 400px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px gold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  width: 48%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.border {
  border: 50px solid green;
}
